.table{
    background-image: url("Assets/dark-brown-wood-texture-background-with-design-space_53876-160410.jpg");
    margin: auto;
    width: 60%; 

}

.drape{
    background-image: url("Assets/59275.jpg");
    margin: auto;
    width: 70%;

}