.table{
    background-image: url("Assets/dark-brown-wood-texture-background-with-design-space_53876-160410.jpg");
    margin: auto;
    width: 60%; 
    
}

.drape{
    background-image: url("Assets/59275.jpg");
    margin: auto;
    width: 70%;
    align-items: center;
    padding-bottom: 5em;
    
}

h1{
    margin: auto;
    font-size: 10em;
    text-align: center;
    margin-top: 1.5em;
    color:darkred;
    
}

.start{
    text-align: center;
    color:azure;
    font-size: 2em;
    display: block;
}

#card{
    width: 12em;
    display: inline-block;
    margin: 0, 12em;
}

.dealercards{
    text-align: center;
    margin: auto;
    padding-top: 5em;
    display: block;
    
}

.playercards{
    margin:auto;
    margin-top: 10em;
    padding: auto;
    text-align: center;
}

h2{
    margin: auto;
    font-size: 10em;
    text-align: center;
    margin-top: 1.5em;
    color:goldenrod;
    
}
h3{
    margin: auto;
    font-size: 10em;
    text-align: center;
    margin-top: 1.5em;
    color:darkred;
    
}