.table{
    background-image: url("Assets/dark-brown-wood-texture-background-with-design-space_53876-160410.jpg");
    margin: auto;
    width: 60%; 

}

.drape{
    background-image: url("Assets/59275.jpg");
    margin: auto;
    width: 70%;

}

h1{
    margin: auto;
    font-size: 10em;
    text-align: center;
    margin-top: 1.5em;
    color:darkred;
    
}

.start{
    text-align: center;
    color:azure;
    font-size: 2em;
    display: block;
}